:root {
  --desaturade-red: #ce9797;
  --soft-read: #f96262;
  --dark-grayish-red: #413a3a;
  --josefin-sans: "Josefin Sans";
}

.app {
  background: linear-gradient(135deg, #ffffff 0%, #fff4f4 84.51%);
  font-family: var(--josefin-sans);
  overflow-x: hidden;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 58% 42%;
    grid-template-rows: 120px 85vh;
  }
}
