:root {
  --desaturade-red: #ce9797;
  --soft-read: #f96262;
  --dark-grayish-red: #413a3a;
  --josefin-sans: "Josefin Sans";
}
.app {
  overflow-x: hidden;
}
.card {
  background: linear-gradient(135deg, #ffffff 0%, #fff4f4 84.51%);
  font-family: var(--josefin-sans);
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 58% 42%;
    grid-template-rows: 15% 85%;
    max-height: 800px;
    background: url("../images/bg-pattern-desktop.svg") center / cover no-repeat;
  }

  .app {
    background: url("../images/background.jpg") center / cover no-repeat;
    width: 100%;
    position: center;
    position: relative;
  }

  .card {
    max-height: 800px;
    max-width: 1440px;
    margin: 5% auto;
  }
}
